[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
python-dotenv = "*"
bson = "*"
httpx = "*"
pydantic = "~=1.10.13"
gpt4all = "*"
python-multipart = "*"
apscheduler = {extras = ["mongoengine"], version = "*"}
motor = "*"
exceptiongroup = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.10"
